body{
    background-color: lightblue;
}
.nav ul li{
    display: inline;
}
#formularz{

    width:300px;
    font-family: Arial;
    border: black;

    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
footer {
    text-align: center;
}
input{
    padding:0px;
}

img {
    width: 200px;
    height: 200px;
}
.container .row .col-3 i {
    display: block;
}
